Improved session lengths

Since we switched to OAuth for user logins, we've had sessions which only last one day. The more you use Ghost, the more annoying this gets, and with the editor now working much better on mobile devices where password managers don't really work, this is only getting more frustrating.

Ideally we need to change the sessions so that they last for a month.

Making this change is simple, but there is a bit of consideration to be done. As far as I understand it, our refresh token expiry date is automatically extended each time it's swapped for an access token. Moving towards using a refresh token for a month would mean that refresh tokens may be kept around almost indefinitely. Ideally, we'd probably like to swap refresh tokens for a brand new token every once in a while but I'm not sure that the `oauth2orize`, `passport` & `ember-simple-auth` combo we've got going on has any way to do that.

Thoughts on a post card!


The expiration time for access tokens is 1 hour, for refresh tokens it's 24 hrs. Given the reasoning it sounds like a good idea to increase the expiration time considerably. According to [RFC 6749, Section 6](https://tools.ietf.org/html/rfc6749#section-6) it is allowed to generate a new refresh token during the refresh of an access token.

> The authorization server MAY issue a new refresh token, in which case the client MUST discard the old refresh token and replace it with the new refresh token.  The authorization server MAY revoke the old refresh token after issuing a new refresh token to the client.  If a new refresh token is issued, the refresh token scope MUST be identical to that of the refresh token included by the client in the request.

From a security standpoint it would be good to implement renewing of refresh tokens before extending the session length. We'll have to verify if `oauth2orize`, `passport` and `ember-simple-auth` are able to process renewed refresh tokens.

The new session handling would then do the following:
- access tokens expire and are refreshed hourly
- refresh tokens expire every 30 days
- refresh token are renewed after 24 hrs when the access token is refreshed
- new refresh tokens are valid for another 30 days

This change means that sessions are valid for quite a long time. I think that this idea from the wishlist (http://ideas.ghost.org/forums/285309-wishlist/suggestions/7643373-sign-out-everywhere) would be a sensible addition to that feature?




Trying to research to see what is possible, this is a pretty nebulous subject area!

I think that oauth2orize supports the refresh token renewal:
https://github.com/jaredhanson/oauth2orize/blob/master/lib/exchange/refreshToken.js#L29

As well as ember simple auth:
https://github.com/simplabs/ember-simple-auth/blob/master/packages/ember-simple-auth-oauth2/lib/simple-auth-oauth2/authenticators/oauth2.js#L263

Not sure that we need support in passport? I think these 2 things together do the heavy lifting for refreshing tokens and we should be able to get that done?

With regard to adding a 'log out everywhere' feature, that seems straightforward enough to do. Just need to ask @JohnONolan where such a button should live.

Also wondering, given that the single day tokens are a pain, and that this is a bit tricky - would it be a safe intermediary option to maybe extend the refreshTokens to 7 days for the next release, and then hopefully get all this extra stuff done for 30-day tokens in the one after?

> I think these 2 things together do the heavy lifting for refreshing tokens and we should be able to get that done?

Yes, if the code does what the comment suggests I'm quite sure that this is going to work.

> Also wondering, given that the single day tokens are a pain, and that this is a bit tricky - would it be a safe intermediary option to maybe extend the refreshTokens to 7 days for the next release, and then hopefully get all this extra stuff done for 30-day tokens in the one after?

Sounds good to me as a short term fix.

> where such a button should live

If we alter the token table we could also store which client (user-agent) requested the token and have the functionality of disabling single tokens? This would be similar to what Google does for their accounts.

If the 30 day thing is not super urgent I would love to take this issue :).

> With regard to adding a 'log out everywhere' feature, that seems straightforward enough to do. Just need to ask @JohnONolan where such a button should live.

To start with - just above the "change password" form on your user page. In future I'd like to have a more comprehensive security mgmt page like github/fb do.

Has anyone else noticed Ghost master requiring them to sign in more than expected? Not sure if it's just because I'm swapping around so much whilst working on it, but it seems like I have to keep signing in :/ Crap bug report - hard thing to pin down.

Note: it seems the major underlying session issues are caused by this: https://github.com/TryGhost/Ghost/issues/6868



On master (or `1.0.0-alpha`) ember reacts on `401` responses from the server and it tries to refresh the access token automatically.

On LTS however, ember attempts a refresh of the access token a **random amount of time before the token is due to expire**. If that fails or the app is left open whilst the laptop is shutdown or whatever then it has an expired token and the next request will be a `401`.

Increasing the access token expiry on LTS will lower the risk of experiencing an auto logout while writing a post for example.

Discussed and supported by @kevinansfield 

In order to get to not being logged out, don't we also need to implement the refreshing of refresh tokens?

> In order to get to not being logged out, don't we also need to implement the refreshing of refresh tokens?

Hmm when looking at the code base, if ember asks for a new access token (LTS or master), the refresh token expiry get's increased by one week. So refreshing the access token, refreshes the refresh token as well. 

Worst case scenario i can think of: 
You are not using the admin panel for one week, then you are logged out and you need to re-authenticate with email + password. 

@kevinansfield Maybe i am wrong, would like to hear your opinion and the ember behaviour regarding this question.

> https://github.com/TryGhost/Ghost/issues/5202#issuecomment-278322826

I would suggest increasing the access token expiry from 1 hour to 1 day on **LTS** to lower the risk of an auto logout.

Master stays as is for now, because as explained the ember strategy is different/better to **LTS**.
@sebgie objections?

> In order to get to a situation where people are not being logged out, don't we also need to implement the refreshing of refresh tokens?

As @kirrg001 says, the refresh tokens are automatically extended already but that does require a user to request a new access token before the refresh token expires. In LTS this fails quite often because if the admin app is left open then the access token expires and the next request responds with a 401 which is an auto-logout, if the app is closed then it should be ok because ESA refreshes the access token on next app boot. The alpha has more protection against that scenario because a number of ajax handling refactors have enabled us to have a single point that can detect a 401, refresh the access token and retry the original request - it's not perfect but further improvements would require significant work along the lines of offline support.

Increasing the access token expiry should hopefully improve the situation by ensuring that there is a longer window where the app can be open without a network connection, I might even go as far as saying 48hrs rather than 24.

Short access token lifetimes are in place to reduce the window of opportunity if your access token is stolen. This is mostly relevant when self-hosters are not using HTTPS and are accessing their blog on public/non-secure networks, if someone sniffs your traffic and grabs your access token which is sent with every request then they only have at most ~60minutes to notice and use the token to impersonate you. It's worth noting that the refresh token will still be sent in plaintext but there should only be one request containing that token every hour so the likelihood of it being stolen is lower but still there.

As usual the only way to be fully secure is to send all traffic via HTTPS - perhaps we can use that to adjust the lifetimes? If a blog is configured to use SSL then we can be a lot more relaxed about token expiry times.

> Worst case scenario i can think of:
You are not using the admin panel for one week, then you are logged out and you need to re-authenticate with email + password.

We have also discussed increasing the expiration time of the refresh token, I can't remember exactly but I think there was talk of a minimum 30days but 60 was preferred?

> Worst case scenario i can think of:
> You are not using the admin panel for one week, then you are logged out and you need to re-authenticate with email + password.

The end goal here is to never, ever, ever log anyone out. Ever. 

@kevinansfield How difficult is it to transfer the 401 logic/handling we have in master over to LTS?


Pretty difficult which is why it hasn't been done, there were quite a few inter-dependent refactorings across the codebase that hinged on the way we deal with ajax.

> The end goal here is to never, ever, ever log anyone out. Ever.

The only way to do that in LTS at the moment would be to drop the idea of refresh tokens and issue access tokens with an expiry of 1year+. This would essentially swing the convenience/security scales entirely to the convenience side, if an access token is stolen at this point the attacker would effectively have access for the life of the account.

As I said above if using SSL then the majority of attack vectors have been removed so long token lifetimes aren't so much of an issue, primary concern is self-hosters running on HTTP but if we're happy with that being less secure as it's a known insecure setup in the first place then year-long tokens should be fine?

How about increasing access and refresh token expiry on Ghost(Pro) only for now?
The admin panel always uses SSL. And we could make it configureable for public usage.


@kevinansfield and I jumped in a call.

**We agreed on the following simple solution**

- increase access token length to 30 days
- increase refresh token length to 6 month
- refresh the access token on each app boot
   - this means, refreshing the access token on each page refresh
       - for LTS: increasing the access token length to 30 days can still auto logout the user after 30 days, because ember would request a new access token only **once** and this is randomly before the 30 days expiry is reached. That's why refreshing the tokens on each app boot will decrease the chance even more to get auto logged out
       - for LTS: the only edge case which we can't cover is that if the user has the admin open for 30 days without refreshing the page a single time and the request to fresh the token fails because of network problems
   - if this particular request fails on app boot, ember will keep the old pair of tokens
   - refresh token get's only transmitted on every page refresh and not every hour

**We will add these changes both for LTS and 1.0.0 today** - because of consistency and it's quite easy to add them.

The chance of getting auto logged is almost 0 and this should cover all of our cases:

- LTS auto logout when you have your blog open for an hour and ember can't request a fresh access token because of e.g. internet problems
- 1.0.0 auto logout, if your refresh token expired

Fact to keep in mind:
- refresh token expiry get's extended automatically when the access token get's refreshed
- on my.ghost.org our session length is 10years. Auto logout is in theory impossible.

Should this issue be closed now? 